.register {
    width: 100%;
    background: #121212;
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
}

.paper {
    margin: 70px auto;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px 15px;
}

.input-form {
    margin-top: 15px !important;
}

@media only screen and (max-width: 910px) {
    .paper {
        margin: 70px auto;
        width: 95%;
    }
}