* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'roboto';
}

body {
  background: #121212 !important;
  color: #ccc;
}

img {
  max-width: 100%;
}

input {
  font-weight: 400 !important;
  font-family: sans-serif !important;
  font-size: 14px !important;
  color: #fff !important;
}

textarea {
  color: #fff !important;
}

.landing {
  display: grid;
  place-items: center;
  height: 80vh;
  text-align: center;
}

.desc-landing {
  line-height: 1px !important;
  font-size: 24px;
}

.landing button {
  margin: 20px 8px;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 573px) {
  .brand, .nav-items {
    font-size: 15px !important;
  }
}